<p>
  <%= @list.list_name %>
</p>

<h2>Add a task:</h2>
<%= form_for([@list, @list.tasks.build]) do |f| %>
  <p>
    <%= f.label :Title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :Importance %><br>
    <%= f.integer :imp %>
  </p>

  <p>
    <%= f.label :Due %><br>
    <%= f.datetime :date %>
  </p>

  <p>
    <%= f.label :Comment %><br>
    <%= f.datetime :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', user_list_tasks_path %>
