<br><br>
<%= form_for :task, url: user_list_tasks_path, :html => {:class => "form-horizontal center"} do |f| %>
<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-group">
        <%= f.label :title, "Task Name", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :imp, "Importance", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.number_field :imp, options = {in: 0..5} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :date, "Due Date", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.datetime_field :date %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :comment, "Comment", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_area :comment, class: "form-control" %>
        </div><br>
      </div>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <%= f.submit :Submit, class: "btn btn-default btn-primary col-md-8"  %>
        </div>
      </div>
<br>
<% end %>
