
<table>
  <h1>Incompleted Tasks</h1>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Importance</th>
    <th>Due Date</th>

  </tr>

  <% @tasks.each do |t| %>
    <% if t.status == false %>
    <tr>
      <td><%= t.title %></td>

      <td>
        Incompleted

        <%= @task = Task.find_by_id(t.id) %>
        <%= form_for @task, url: user_list_task_markComplete_path(t.list.user, t.list, t), method: :patch do |f| %>
            <%= check_box_tag :complete, 1, params[:complete] %>
            <%= f.submit :Submit %>
        <% end %>
      <td>

      <td><%= t.imp %></td>
      <td><%= t.date %></td>
      <td><%= link_to 'Show', user_list_task_path(t.list.user, t.list, t), method: :get %></td>
      <td><%= link_to 'Edit', edit_user_list_task_path(t.list.user, t.list, t) %></td>
      <td><%= link_to 'Delete', [t.list.user, t.list, t], method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
  <% end %>



</table>
<%= link_to "Rank by Importance", user_list_rank_imp_path %>
<%= link_to "Rank by Date", user_list_rank_date_path %>
<%= link_to "Rank by Status", user_list_rank_status_path %>
