<br><br><br>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>completed:</strong>
  <% if @task.completed == false %>
     false
  <% else %>
     true
  <% end %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @task.imp %>
</p>

<p>
  <strong>Create Date:</strong>
  <%= @task.created_at %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Comment:</strong>
  <% if @task.comment %>
  None
  <% else %>
  <%= @task.comment %>
  <% end %>
</p>
<br><br><br>
<div class="btn-group">
  <button type="button" class="btn btn-default"><%= link_to 'Back', user_list_tasks_path(@task.list.user, @task.list) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_user_list_task_path(@task.list.user, @task.list, @task) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Delete', [@task.list.user, @task.list, @task], method: :delete, data: {confirm: 'Are you sure?'} %></button>
</div>
