<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>ToDoList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
  <ul>
    <li><%= current_user.user_name %></li>
    <li><%= link_to "Change my account settings", edit_user_path(current_user) %></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  </ul>

  <%= link_to "My Home Page", user_lists_path(current_user) %>
<% else %>
  <ul>
    <li><%= link_to "Login", 'login' %></a></li>
    <li><%= link_to "Signup", 'signup' %></a></li>
  </ul>
<% end %>
  <%= yield %>
  </body>
</html>
