<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>ToDoList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-inverse">

      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand">Hello,</p>

        </div>
            <% if current_user %>

        <ul class="nav navbar-nav">
          <p class="navbar-brand"><%= current_user.user_name %></p>
          <li><%= link_to "My Home Page", user_lists_path(current_user) %></a></li>
          <li><%= link_to "Change my account settings", edit_user_path(current_user) %></a></li>
</ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>

        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>icon glyphicon-log-in"></span><%= link_to "Login", 'login' %></li>
        </ul>
        <% end %>
      </div>
    </nav>
<div class="container">

  <%= yield %>
</div>
  </body>
</html>
